.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.nav a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.Lajmet{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    gap: 30px;
}
.lajmi img{
    height: 300px;
    width: 430px;
    border-radius: 12px;
}
.lajmi{
    width: 500px;
}
.lajmi .tit{
    font-size: 23px;
    font-weight: bold;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.lajmi .data{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.lajmi .pershkrimi{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.footer{
    background-color: red;
    color: white;
    padding: 50px 80px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 900px) {
    .lajmi {
        width: calc(50% - 20px); /* më të ngushta për tablet */
    }
}

@media (max-width: 600px) {
    .lajmi {
        width: 100%; /* 1 lajm për rresht në telefon */
    }

    .lajmi img{
        height: 200px;
    }
}